.root{
    -fx-background-image: url("/Images/Pik.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

Button {
    -fx-text-fill: Black;
    -fx-font-family: "Bauhaus 93";
    -fx-pref-height: 50;
    -fx-pref-width: 70;
    /*-fx-font-weight: bold;*/
    -fx-background-color: Yellow;
    -fx-background-radius: 10;
    -fx-background-size: 50%;
    /*-fx-border-radius: 50%;
    -fx-background-radius: 50%;*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );*/
}

Button:hover{
    -fx-text-fill: Black;
    -fx-font-family: "Bauhaus 93";
    -fx-pref-height: 50;
    -fx-pref-width: 90;
    /*-fx-font-weight: bold;*/
    -fx-background-color: LightYellow;
}